<br>
<div class="card">
    
    <p class="bg-primary">Product List</p><br>
    <div class="container">
        <table class="table">
                        <button class='btn btn-primary' (click)="toggleImage()">{{showImage ? 'Hide':'Show'}} Image</button>
            <th>Product</th>
                <th>Code</th>
                <th>Available</th>
                <th>Price</th>
                <th>5 Star Rating</th>

                <tbody> 
                <tr *ngFor = "let product of Products">

                    <!-- <th scope="row"><img src="{{product.imageUrl}}" width="80"></th> -->
                    <td><img *ngIf='showImage' [src]='product.imageUrl' width="80"></td>
                    <th><a [routerLink]="['/product',product.productId]">{{product.productName}}</a></th>  
                    <th>{{product.productCode}}</th> 
                    <th>{{product.releaseDate}}</th> 
                    <th>{{product.price}}</th> 
                 <th>{{product.starRating}}</th>  

                    

                   <th> <ht-star [rating]="product.starRating"></ht-star></th>
                


                </tr>
                </tbody>
                
        </table>
    </div>

</div>
